<div class="card">
  <h5>RowSpan Grouping</h5>
  <p-table
    [value]="customers"
    rowGroupMode="rowspan"
    groupRowsBy="representative.name"
    sortField="representative.name"
    sortMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:3rem">#</th>
        <th>Representative</th>
        <th>Name</th>
        <th>Country</th>
        <th>Company</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-customer
      let-rowIndex="rowIndex"
      let-rowgroup="rowgroup"
      let-rowspan="rowspan"
    >
      <tr>
        <td>{{ rowIndex }}</td>
        <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
          <span class="p-text-bold p-ml-2">{{
            customer.representative.name
          }}</span>
        </td>
        <td>
          {{ customer.name }}
        </td>
        <td>
          <span class="image-text">{{ customer.country.name }}</span>
        </td>
        <td>
          {{ customer.company }}
        </td>
        <td>
          <span [class]="'customer-badge status-' + customer.status">{{
            customer.status
          }}</span>
        </td>
        <td>
          {{ customer.date }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
